@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   .light_mode {
      background-image: url("../png/fondo_light.png");
      background-size: cover;
   }
   .dark_mode {
      background-image: url("../png/fondo_dark.png");
      background-size: cover;
   }
}

@layer components {
   img {
      position: absolute;
      z-index: -1;
   }
}

@layer utilities {
   .bg-image {
      background-image: url('./src/assets/png/Recurso_17.png#xywh=500,500,500,500');
      background-size: 100% 100%;
      background-repeat: no-repeat;
      transform: rotate(-25.99deg);
      background-position: center;
   }
}
