@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   .light_mode {
      background-image: url('../png/fondo_light.png');
      background-size: cover;
      background-repeat: no-repeat;
   }
   .dark_mode {
      background-image: url('../png/fondo_dark.png');
      background-size: cover;
      background-repeat: no-repeat;
   }
   body {
      @apply h-[5833.33px] light_mode dark:dark_mode relative box-border text-white font-open
   }
}

@layer components {
   .card {
      --card-height: 63px;
      --card-width: 180px;
      --card-radius: 8px;
      --border-width: 4px;
      --border-fill: 150px;
      --border-height: 357px;
  
      --card-color: #16BAC5;
  
      position: relative;
      height: var(--card-height);
      width: var(--card-width);
      background: var(--card-color);
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      z-index: 1;
      border-radius: var(--card-radius);
  }
  
   .card::before {
      content: "";
      height: calc(var(--border-height));
      width: calc(var(--border-fill) + (var(--border-fill)));
      background: linear-gradient(90deg, transparent 40%, #FFFFFF, transparent 60%);
      position: absolute;
      z-index: 2;
      animation: rotate 3.5s linear infinite;
   }
   
   .card::after {
      content: "";
      height: calc(var(--card-height) - var(--border-width));
      width: calc(var(--card-width) - var(--border-width));
      background: #16BAC5;
      position: absolute;
      z-index: 2;
      border-radius: calc(var(--card-radius) - (var(--card-radius) / 6));
   }
   
   .card-content {
      z-index: 3;
      font-size: 16px;
      font-family: system-ui;
      font-weight: bold;
      color: white;
      position: absolute;
   }

   @keyframes rotate {
      from {
         transform: rotateZ(1deg);
      }
      to {
         transform: rotateZ(360deg);
      }
   }
}

@layer utilities {
   .button {
      position: relative;
      padding: 10px 20px;
      color: white;
      background: #333;
      border-radius: 10px;
      overflow: hidden;
   }
   
   .button::before {
      content: "";
      position: absolute;
      top: -2px;
      left: -2px;
      width: calc(100% + 8px);
      height: calc(100% + 8px);
      background: linear-gradient(45deg, transparent, #999, transparent);
      background-size: 50px 100%;
      background-repeat: no-repeat;
      animation: glow 2s infinite linear;
      border-radius: 10px;
      z-index: 2;
   }
   
   .picture-container {
      position: relative;
      background-image: linear-gradient(to bottom, #FFFFFF66, #FFFFFF33 60%);
   }

}
