@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   .light_mode {
      background-image: url('../png/fondo_light.png');
      background-size: cover;
      background-repeat: no-repeat;
   }
   .dark_mode {
      background-image: url('../png/fondo_dark.png');
      background-size: cover;
      background-repeat: no-repeat;
   }
   body {
      @apply h-[5833.33px] light_mode dark:dark_mode relative box-border text-white font-open
   }
}

@layer components {}

@layer utilities {}
